@using AzR.Web.Root.Heplers
@{
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "mainContent",
        OnBegin = "Spiner.show()",
        OnSuccess = "OnAjaxRequestSuccess(this)",
        OnComplete = "Spiner.hide()"
    };
}
<li class="nav-item">
    @Ajax.IconActionLink("<span class='icon fa fa-tags'></span><span class='title'>Dashboard</span>", "Board", "Dashboard", new { Area = "" }, ajaxOptions, new { @class = "nav-link" })
</li>

<li class="card dropdown nav-item">
    <a data-toggle="collapse" href="#dropdown-setting" class="nav-link">

        <span class="icon fa fa-gears"></span><span class="title">SETTING</span>

    </a>
    <div id="dropdown-setting" class="panel-collapse collapse">
        <div class="card-body">
            <ul class="nav navbar-nav azr-nav">
                <li class="nav-item">
                    @Ajax.IconActionLink("<span class='icon fa fa-tags'></span><span class='title'>Document</span>", "Index", "Help", new { Area = "HelpPage", type = "POST" }, ajaxOptions, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.IconActionLink("<span class='icon fa fa-tags'></span><span class='title'>Menu</span>", "Index", "Menu", new { Area = "Admin" }, ajaxOptions, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.IconActionLink("<span class='icon fa fa-tags'></span><span class='title'>User</span>", "Index", "User", new { Area = "Admin" }, ajaxOptions, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.IconActionLink("<span class='icon fa fa-tags'></span><span class='title'>User Privilege</span>", "Index", "UserPrivilege", new { Area = "Admin" }, ajaxOptions, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.IconActionLink("<span class='icon fa fa-tags'></span><span class='title'>Role</span>", "Index", "Role", new { Area = "Admin" }, ajaxOptions, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Ajax.IconActionLink("<span class='icon fa fa-tags'></span><span class='title'>Branch</span>", "Index", "Branch", new { Area = "Admin" }, ajaxOptions, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </div>
</li>




<li class="card dropdown nav-item">
    <a data-toggle="collapse" href="#dropdown-example" class="nav-link">

        <span class="icon fa fa-gears"></span><span class="title">Example</span>

    </a>
    <div id="dropdown-example" class="panel-collapse collapse">
        <div class="card-body">
            <ul class="nav navbar-nav azr-nav">
                <li class="nav-item">
                    @Ajax.IconActionLink("<span class='icon fa fa-university'></span><span class='title'>Student</span>", "Index", "Student", new { Area = "Example" }, ajaxOptions, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </div>
</li>
