@model ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Any()) {
        using (Html.BeginForm("ExternalLogin", "UserAuth", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
       
                    foreach (AuthenticationDescription p in loginProviders) {
                        <div class="form-footer">
                            <button type="submit" class="btn btn-danger" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <div class="info">
                                    <i class="icon fa fa-google" aria-hidden="true"></i>
                                    <span class="title">Login with @p.AuthenticationType</span>
                                </div>
                            </button>
                        </div>
                        <br/>
                         <div class="form-footer">
                            <button type="submit" class="btn btn-default btn-sm btn-social __facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <div class="info">
                                    <i class="icon fa fa-facebook-official" aria-hidden="true"></i>
                                    <span class="title">Login with Facebook</span>
                                </div>
                            </button>
                        </div>
                    }
              
          
        }
    }
}
