@using AzR.WebFw.Heplers
@model IPagedList<AzR.Core.ViewModels.Admin.UserViewModel>

@{
    var count = Model.FirstItemOnPage;
}
<div class="clearfix"></div>

<div class="box">
    <h3 class="box-title">
        <span class="btn btn-sm btn-info btnCreate" onclick="createModal('@Url.Action("Create", "User")', @Model.PageCount) ">
            <i class="glyphicon glyphicon-plus"></i>Create New
        </span>
    </h3>
    @if (Model != null && Model.Count != 0 && Model.All(s => s.Id != 0))
    {
        <div class="box-body" id="divList">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="width: 50px;">SL#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().RoleNames)
                        </th>
                        <th style="width: 150px;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(count++)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleNames)
                            </td>
                            <td>
                                @{Html.RenderPartial("_eddIcon", item.Id);}
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            @Html.PaginationFor(Model, page => Url.Action("Index", new {area = "Admin", searchItem = ViewBag.SearchData, page, pageSize = Model.PageSize}))
        </div>
    }
    else
    {
        <div class="no-data">
            <hr/>
            <h3>No Data Found!!!</h3>
            <hr/>
        </div>
    }
</div>
